.App {
  text-align: center;
}

.App-logo {
  height: 1.5rem;
  padding: 1rem;
}

.App-header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header-Top {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.Flex-Container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-header-Bottom {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  background-color: #194069;
  width: 100vw;
  font-size: 1rem;
  font-family: Avenir;
  font-style: normal;
  font-size: 14px;
  /* identical to box height, or 143% */
  text-transform: uppercase;
  color: #EDF1F4;
}

.App-header-Bottom :nth-child() {
  padding: 10;
}

.App-Title-Login {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  /* line-height: 20px; */
  /* identical to box height, or 143% */
  text-align: right;
  text-transform: uppercase;
  color: #194069;
}

.App-link {
  color: #61dafb;
}

body {
  background: #EDF1F4;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}